/**
 * @file _typography.scss
 *
 * Global typography styles.
 * */

html,
body {
    height: 100%;
}

body {
    @extend .antialiased;
    font-family: $default_font_family;
	font-size: rem(14);
	line-height: em(16, 14);
}

body,
p,
li {
	font-size: rem(14);
	line-height: em(16, 14);
	font-weight: normal;
}

a {
	text-decoration: none;
	@include transition(all .2s);

	&:hover {

	}
}

p {
    font-size: rem(14);
    line-height: em(18, 14);
}

strong,
b {
     @extend .antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2em;
	margin-bottom: rem(22);
}

h1 {
	font-weight: 200;
	line-height: 1em;
	font-size: rem(42);
}

h2 {
   font-size: rem(36);
}

h3 {
   font-size: rem(28);
}

